<section class="container content-section text-center">
    <div id="{{ page.section-type }}" class="row section-row">
        <div class="col-md-10 col-md-offset-1">
             {{ page.content | markdownify }}
        </div>
    </div>
    <div class="{{ page.section-type }}-table row section-row">
        <div class="col-md-10 col-md-offset-1">
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #CC342D">
                    <span>Ruby</span>
                </div>
                <div class="skillbar-bar" style="background: #CC342D"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #f1e05a">
                    <span>JavaScript</span>
                </div>
                <div class="skillbar-bar" style="background: #f1e05a"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #4e2a8e">
                    <span>Elixir</span>
                </div>
                <div class="skillbar-bar" style="background: #4e2a8e"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #0085B0;">
                    <span>SQL</span>
                </div>
                <div class="skillbar-bar" style="background: #0085B0;"></div>
                <div class="skill-bar-percent">85%</div>
            </div>

            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #6aaf4e;">
                    <span>MongoDB</span>
                </div>
                <div class="skillbar-bar" style="background: #6aaf4e;"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title" style="background: #E10098">
                    <span>GraphQL</span>
                </div>
                <div class="skillbar-bar" style="background: #E10098"></div>
                <div class="skill-bar-percent">50%</div>
            </div>

            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #61dafb">
                    <span>React &amp; Redux</span>
                </div>
                <div class="skillbar-bar" style="background: #61dafb"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title" style="background: #36a3be">
                    <span>React Native</span>
                </div>
                <div class="skillbar-bar" style="background: #36a3be"></div>
                <div class="skill-bar-percent">40%</div>
            </div>

            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title" style="background: #D5A037;">
                    <span>Elasticsearch</span>
                </div>
                <div class="skillbar-bar" style="background: #D5A037;"></div>
                <div class="skill-bar-percent">50%</div>
            </div>

            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title" style="background: #1280e1;">
                    <span>Docker</span>
                </div>
                <div class="skillbar-bar" style="background: #1280e1;"></div>
                <div class="skill-bar-percent">50%</div>
            </div>

            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: rgb(230, 126, 34)">
                    <span>HTML5</span>
                </div>
                <div class="skillbar-bar" style="background: rgb(230, 126, 34)"></div>
                <div class="skill-bar-percent">95%</div>
            </div>

            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #2980b9;">
                    <span>CSS3</span>
                </div>
                <div class="skillbar-bar" style="background: #3498db;"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #2c3e50;">
                    <span>jQuery</span>
                </div>
                <div class="skillbar-bar" style="background: #2c3e50;"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #DA0E36;">
                    <span>Angular 1</span>
                </div>
                <div class="skillbar-bar" style="background: #DA0E36;"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            
        </div>
    </div>
</section>
